/*** COLOR */
$white:#FFF;
$black:#000; 
$dark_white:#DDDDDD;
$dark_black:#000E28; 
$primary:#0000FF; 
$primary_1:#00CCFF;
$primary_2:#EB00FF;
$primary_3:#8E0BF4;
$textcolor:#888888;
$coral1:#faf7f0;
$gray:#727272;

$card-bg-one:rgba(142, 11, 244, 0.1);
$technology-v1-bg:#EFDFF0;
$content-review:#EFDFF0;
$content-review-card-one:#E1F3F2;
$integration-area:'#E1E1E1';

/*** FONT SIZE */
$pop: 'Poppins', sans-serif;
$hel: 'Helvetica Neue LT Std', sans-serif;

/* Custom Class */
.color-white { color: #fff !important; }
.color-black { color: #000 !important; }
.font-pop { font-family: $pop !important; }
.font-hel { font-family: $hel !important; }
.fw-500 { font-weight: 500 !important; }
.fw-600 { font-weight: 600 !important; }
